
/*
Breakpoints
< 576px: phone, portrait mode
576 - 767px: phone, landscape
768 - 991px: tablets
992 - 1199: PC/laptop monitor
> 1200: extra large monitor


Color Palette
background color: #201E1A
text color: #888783
highlight color: #877046
bright highlight color: #FDD06B*/

/* General Styles-----------------------------------------------------------*/

body {
    background-image: url(../images/keyboard.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

* {
    color :#B3B2AE;
    font-family:Arial, Helvetica, sans-serif

}

.page {
    width: 95%;
    margin-left: auto;
    margin-right:auto;
    vertical-align: middle;
    background-color: rgb(32, 30, 26, 0.90);
    border: 1px solid #B3B2AE;
    border-radius: 5px;
    padding: 15px;
}

H1 {
    color:#FDD06B;
    text-align: right;
    font-size: 5em;
}

/* Navbar and links */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
} 


.header-navbar ul {
    padding-left: 0px;
    margin-top: 2px;
    font-size: .90em;
    display:flex;
    max-width: 50%;
    justify-content: space-around;
}

.header-navbar li {
    display: inline;
    list-style: none;
    color:#877046;
}

.header-navbar a {
    color:#877046;
}
figcaption {
    text-align: center;
}

/* media queries */
@media(max-width:992px) {
    h1 {
        font-size: 4em;
    }
}

@media(max-width:768px) {
    h1 {
        font-size: 3em;
    }

    table {
        width: 70%;
    }
}

@media(max-width:576px) {
    h1 {
        font-size: 2em;
    }

    .header-navbar ul {
        flex-direction: column;
        justify-content: center;
    }

    li.spacer {
        display:none;
    }
}


/* About page-----------------------------------------------------------------*/

#about-picture-aside {
    float:right;
}

#about-picture {
    border-radius: 50%;
}

#schweitzer-quote blockquote b, i{
    color:#FDD06B;
}

pre code {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    width:70%;
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(0,0,0,95%);
}

/* Blog page----------------------------------------------------------------- */

.code-screenshots {
    border-radius: 12.5px;
}


/* Projects page------------------------------------------------------------- */

/* Contact page-------------------------------------------------------------- */