/*
Breakpoints
< 576px: phone, portrait mode
576 - 767px: phone, landscape
768 - 991px: tablets
992 - 1199: PC/laptop monitor
> 1200: extra large monitor


Color Palette
background color: #201e1a
main text color: #888783
highlight color: #877046
bright highlight color: #fdd06b

Fonts from Google
Josephine Sans
Bebas Nueue
*/



/* General Styles-----------------------------------------------------------*/

body {
    background-image: url(../images/keyboard.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

* {
    color: #b3b2ae;
    font-family: 'Times New Roman', Times, serif;
}

.page {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    background-color: rgb(32, 30, 26, 0.96);
    border: 1px solid #b3b2ae;
    border-radius: 5px;
    padding: 15px;
    max-width: 960px;
    box-shadow: 0px 0px 5px;
}


h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    color: #fdd06b;
    text-align: right;
    font-size: 5em;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 2.5em;

}

h3 {
    letter-spacing: 0.2em;
}

/* Navbar and links */
a:link {
    text-decoration: none;
    transition: .2s;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 3px;
    transition: .2s;
}

a:active {
    text-decoration: none;
}


.header-navbar ul {
    padding-left: 0px;
    margin-top: 2px;
    font-size: .90em;
    display: flex;
    max-width: 50%;
    justify-content: space-around;
}

.header-navbar li {
    display: inline;
    list-style: none;
    color: #877046;
}

.header-navbar a {
    color: #877046;
    transition-duration: .75s;
}

.header-navbar a:hover,
a:active {
    opacity: .50;
    letter-spacing: .2em;
    transition-duration: .2s;
    text-shadow: none;
}

.page>footer {
    margin-top: 25px;
}

/* About page-----------------------------------------------------------------*/

#about-picture-aside {
    float: right;
    max-width: 90%;
}

#about-picture {
    border-radius: 25%;
    max-width: 100%;
}

#schweitzer-quote blockquote>b {
    color: #fdd06b;
}

/* Blog page----------------------------------------------------------------- */


img.code-screenshots {
    border-radius: 5px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.blog-example-11-08-23 {
    width: 100px;
    background-color: #fdd06b;
    color: black;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#rotated-div {
    transform: rotate(180deg);
}

#spinning-div {
    transition: 1s;
}

#spinning-div:hover {
    transform: rotate(720deg);
}

#ccw-rotated-div {
    transform: rotate(-25deg);
    margin-bottom: 40px;
}

#blog-post-div-11-18-23 {
    width: 150px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
    background-color: #b3b2ae;
    color: #201e1a;
    cursor: pointer;
}



/* Projects page------------------------------------------------------------- */

th {
    text-align: center;
    background-color: rgb(32, 32, 32);
    border-bottom: 1px solid #b3b2ae;
}

tr {
    text-align: center;
}

tr.odd {
    background-color: rgb(83, 83, 83);

}

.project-github-link a {
    font-family: 'Josefin Sans', sans-serif;
    color: #877046;
}

#group-project-screenshot {
    width: 200px;
    position: relative;
}

/* Gallery page-------------------------------------------------------------- */

#gallery-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    gap: 10px;
}

.gallery-images {
    height: 300px;
    border-radius: 5px;
    transition: .3s;
    max-width: 100%;
}

.gallery-images:hover {
    transform: scale(2);
    transition: .3s;
}


/* Contact page-------------------------------------------------------------- */

#contact-aside {
    max-width: 30%;
}

#contact-form {
    max-width: 66%;
}

#contact-form input,
select,
option,
textarea {
    color: rgb(32, 32, 32) !important;
    max-width: 90%;
}

#contact-form input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b3b2ae;
    color: #201e1a !important;
    border: none;
    border-radius: 1px;

}

#contact-container {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}


#contact-container form p {
    margin-bottom: 0px;
}


#contact-aside ul {
    list-style: none;
}

#contact-aside ul li {
    line-height: 2em;
}

#contact-github-logo,
#contact-linkedin-logo {
    width: 25px;
    padding-right: 10px;
}

/* Resume page-------------------------------------------------------------- */

dt,
#resume-skills-container div h3,
#resume-projects-container div h3,
#resume-experience h3 {
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    padding-top: 5px;
    color: #fdd06b;
    margin-bottom: 0px;
}

#resume-experience h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4em;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}


.resume-experience-div {
    width: 40%;
    max-width: 90%;
}

.resume-headings {
    margin-bottom: 0px;
}

.resume-hr {
    margin-top: 0px;
}

#resume-skills-container,
#resume-projects-container,
.resume-experience-container {
    display: flex;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}


#resume-skills-container div {
    max-width: 90%;
    width: 30%;
}

#resume-projects-container div {
    max-width: 90%;
    width: 20%;
}

.resume-projects-python-logo,
.resume-project-java-logo,
.resume-projects-postgresql-logo {
    position: absolute;
    opacity: 25%;
    width: 50px;
}









/* media queries ------------------------------------------------------------*/
@media(max-width:992px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
    }
}

@media(max-width:768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    table {
        max-width: 90%;
    }

}

@media(max-width:576px) {
    h1 {
        font-size: 2em;
    }

    .header-navbar ul {
        flex-direction: column;
        justify-content: center;
    }

    li.spacer {
        display: none;
    }

    th {
        font-size: .75em;
    }

    td {
        font-size: .75em;
    }

    #about-bottom-text {
        clear: both;
    }

    #contact-container {
        flex-direction: column;
    }

    #contact-aside {
        margin-top: 15px;
    }

    #resume-skills-container,
    #resume-projects-container,
    .resume-experience-container {
        flex-direction: column;

    }
}

/* Media query for print version--------------------------------------------- */

@media print {
    * {
        background: white;
        color: black;
    }

    .main {
        border: 1px solid white;
    }

    nav {
        display: none;
    }

    footer {
        display: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h5 {
        color: black;
    }

    #about-picture-aside,
    #blog-kermit-gif,
    audio,
    video {
        display: none;
    }

}